.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 4px; 
  row-gap: 2px;
  margin-left: 4px;
  margin-right: 4px;
}

.employee-card {
  border: 1px solid #ccc;
  padding: 4px 6px;
  border-radius: 10px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.employee-card button {
  margin-top: 2px;
  padding: 8px 12px;
  margin-right: 4px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.employee-card button:nth-of-type(1) {
  background-color: #4caf50 !important;
  color: #fff !important;
}

.employee-card button:nth-of-type(2) {
  background-color: #f44336 !important;
  color: #fff !important;
}
.employee-card button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}